<div class="card border rounded bg-info">
    <div class="groupJobGroupName">
        <input type="text" maxlength="20" class="subject bg-transparent mt-2 font-weight-bold text-white text-center iptJobGroupName"
            value="<%= jobGroupName %>" data-jobGroupId=<%= jobGroupId %>>
        <button class="btnDeleteJobGroup btn" data-jobGroupId=<%= jobGroupId %>>X</button>
    </div>
    <ul class="list-group m-3 bg-light">
        <!-- jobs -->
        <% jobs.forEach(function(job) { %>
        <%- include('load_job',{jobName: job.name, jobId: job._id, isDone: job.isDone, jobGroupId:jobGroupId}) %>
        <% }); %>
        <!-- jobs -->
    </ul>
    <div class="input-group mb-3 pl-3 pr-3">
        <input type="text" class="form-control iptNewJob" placeholder="Nhập tên công việc"
            aria-label="Nhập tên nhóm" aria-describedby="basic-addon2">
        <button class="btn btn-success btnNewJob ml-1" type="button" data-jobGroupId=<%= jobGroupId %>>Tạo mới</button>
    </div>
</div>